In [3]:
# set the midpoint
midpoint = 5

# make two empty lists
lower = []
upper = []

# split the numbers into lower and upper
for i in range(10):
    if (i < midpoint):
        lower.append(i)
    else:
        upper.append(i)

        
print("lower: ", lower)
print("upper: ", upper)

lower:  [0, 1, 2, 3, 4]
upper:  [5, 6, 7, 8, 9]

In [4]:
L = [2,3,5,7,11]

In [20]:
L[::2]

[2, 5, 11]

In [22]:
numbers = {
    'one': 1,
    'two': 2,
    'three': 3,
}
numbers['two']

2

In [23]:
numbers['ninety'] = 90
numbers

{'ninety': 90, 'one': 1, 'three': 3, 'two': 2}

In [24]:
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}
primes | odds

{1, 2, 3, 5, 7, 9}

In [25]:
primes & odds

{3, 5, 7}

In [27]:
primes - odds

{2}

In [28]:
odds - primes

{1, 9}

In [29]:
primes ^ odds

{1, 2, 9}

In [30]:
for N in [2, 3, 5, 7]:
    print(N, end=" ")

2 3 5 7

In [33]:
for i in range(10):
    print(i, end=" ")

0 1 2 3 4 5 6 7 8 9

In [34]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [36]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [37]:
i = 0
while i < 10:
    print(i, end=" ")
    i += 1

0 1 2 3 4 5 6 7 8 9

In [41]:
for n in range(20):
    if n % 2 == 0:
        print(n, end=" ")

0 2 4 6 8 10 12 14 16 18

In [43]:
a, b = 0, 1
amax = 100
L = []

while True:
    a, b = b, a + b
    if a > amax:
        break
    L.append(a)

print(L)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [47]:
def fibonacci(N):
    L = []
    a, b = 0, 1
    while len(L) < N:
        a, b = b, a + b
        L.append(a)
    return L


fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [55]:
def catch_all(*args, **kwargs):
    print("args =", args)
    print("kwargs = ", kwargs)

catch_all(1,2,3,a=4, b=5)

args = (1, 2, 3)
kwargs =  {'a': 4, 'b': 5}

In [56]:
add = lambda x, y: x + y
add(1, 2)

3

In [58]:
try:
    print("let's try something")
    x = 1 / 0
except:
    print("something bad happened")

let's try something
something bad happened

In [60]:
def safe_divide(a, b):
    try:
        return a / b
    except:
        return 1E100

    
safe_divide(1, 0)

1e+100

In [69]:
I = iter([2,4,6,8,10])

In [70]:
print(next(I))

2

In [71]:
L = [2, 4, 6, 8, 10]

In [72]:
for i in range(len(L)):
    print(i, L[i])

0 2
1 4
2 6
3 8
4 10

In [73]:
for i, val in enumerate(L):
    print(i, val)

0 2
1 4
2 6
3 8
4 10

In [74]:
L = [2, 4, 6, 8, 10]
R = [3, 6, 9, 12, 15]
for lval, rval in zip(L, R):
    print(lval, rval)

2 3
4 6
6 9
8 12
10 15

In [76]:
square = lambda x: x ** 2
for val in map(square, range(10)):
    print(val, end=" ")

0 1 4 9 16 25 36 49 64 81

In [80]:
is_even = lambda x: x % 2 == 0
for val in filter(is_even, range(10)):
    print(val, end=" ")

0 2 4 6 8

In [82]:
print(range(10))
print(*range(10))

range(0, 10)
0 1 2 3 4 5 6 7 8 9

In [85]:
print(*map(lambda x: x ** 2, range(10)))

0 1 4 9 16 25 36 49 64 81

In [88]:
L1 = (1, 2, 3, 4)
L2 = ('a', 'b', 'c', 'd')
z = zip(L1, L2)
print(*z)

(1, 'a') (2, 'b') (3, 'c') (4, 'd')

In [89]:
z = zip(L1, L2)
new_L1, new_L2 = zip(*z)
print(new_L1, new_L2)

(1, 2, 3, 4) ('a', 'b', 'c', 'd')

In [91]:
from itertools import *
p = permutations(range(3))
print(*p)

(0, 1, 2) (0, 2, 1) (1, 0, 2) (1, 2, 0) (2, 0, 1) (2, 1, 0)

In [92]:
c = combinations(range(4), 2)
print(*c)

(0, 1) (0, 2) (0, 3) (1, 2) (1, 3) (2, 3)

In [93]:
p = product('ab', range(3))
print(*p)

('a', 0) ('a', 1) ('a', 2) ('b', 0) ('b', 1) ('b', 2)

In [94]:
[i for i in range(20) if i % 3 > 0]

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

In [96]:
L = []
for n in range(12):
    L.append(n ** 2)
L

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [97]:
[n ** 2 for n in range(12)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [98]:
[(i, j) for i in range(2) for j in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2)]

In [100]:
[val for val in range(20) if val % 3 > 0]

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

In [101]:
[n ** 2 for n in range(12)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [102]:
(n ** 2 for n in range(12))

In [103]:
G = (n ** 2 for n in range(12))
list(G)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]